vending/.classpath
vending/.project
vending/.settings/.jsdtscope
vending/.settings/org.eclipse.core.resources.prefs
vending/.settings/org.eclipse.jdt.core.prefs
vending/.settings/org.eclipse.m2e.core.prefs
vending/.settings/org.eclipse.wst.common.component
vending/.settings/org.eclipse.wst.common.project.facet.core.xml
vending/.settings/org.eclipse.wst.jsdt.ui.superType.container
vending/.settings/org.eclipse.wst.jsdt.ui.superType.name
vending/.settings/org.eclipse.wst.validation.prefs